@import './icons.css';
@import './header.css';
@import './search.css';
@import './user.css';
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

/* light mode color */
:root {
  --fontFamily: "Space Mono", monospace;
  --primary-color: rgb(75, 106, 155);
  --secondary-color: rgb(0, 121, 255);
  --user: rgb(43, 52, 66);
  --body-bg: rgb(246, 248, 255);
  --content-bg: rgb(254, 254, 254);
  --icon: rgb(105, 124, 154);
  --logo: rgb(34, 39, 49);
  --button: rgb(255, 255, 255);
  --hoverIcon: rgb(34, 39, 49);
  --hoverBtn: rgb(96, 171, 255);
}

[data-theme="dark"] {
  --primary-color: rgb(255, 255, 255);
  --secondary-color: rgb(0, 121, 255);
  --user: rgb(255, 255, 255);
  --body-bg: rgb(20, 29, 47);
  --content-bg: rgb(30, 42, 71);
  --icon: rgb(255, 255, 255);
  --logo: rgb(255, 255, 255);
  --button: rgb(255, 255, 255);
  --hoverIcon: rgb(144, 164, 212);
}

body {
  font-family: var(--fontFamily);
  background-color: var(--body-bg);
  margin: 0;
  padding: 2rem 1.5rem 5rem 1.5rem;
  color: var(--primary-color);
  display: grid;
  place-items: center;
}

.container {
  
}

@media screen and (min-width: 768px){
  body {
    padding: 0;
    height: 64rem;
  }

  .container {
    max-width: 573px;
  }
}

@media screen and (min-width: 1024px){
  body {
    height: 100vh;
  }

  .container {
    max-width: 730px;
  }
  
}

